#
# These are the full paths to the certificate and key
# used by NGINX. The paths should match what was used
# for the NGINX_CERTS_PATH in you .env file.
#
SSL_CERT='/usr/share/nginx/certs/my_cert.crt'
SSL_KEY='/usr/share/nginx/certs/my_key.key'
SSL_CHAIN=''

#
# SERVER_NAME will be used as the server_name directive
# in the NGINX cofiguration.
#
SERVER_NAME=''

#
# These are the full paths to the your static and resources
# directories in your NGINX Docker container. This allows for
# serving the files from different locations in development
# and production.
#
DEV_STATIC_PATH='/usr/share/nginx/mysite/static'
DEV_RESOURCES_PATH='/usr/share/nginx/mysite/resources'

PROD_STATIC_PATH='/usr/share/nginx/mysite/static'
PROD_RESOURCE_PATH='/usr/share/nginx/mysite/resources'